name: Rust tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build with all features
      run: cargo build --verbose --all-features
    - name: Run tests for all features
      run: cargo test --verbose --all-features